<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                <img src="{{ avatars.robohash(post.author.username, size='50') }}">
            </a>
        </td>
        <td>
            {% set user_link %}
                <span class="user_popup">
                    <a href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                </span>
            {% endset %}
            {{ _('%(username)s said %(when)s', username=user_link, when=moment(post.timestamp).fromNow()) }}<br><br>
            {% if post.body_html %}
            {# selector safe tells jinja2 not to escape this variable because all things is created during safe process of our markdown #}
                <span id='post{{ post.id }}'>
                    {% if post.body_html | safe | striptags | length >= 255 %}
                        {{ post.body_html | safe | striptags | truncate }}
                        <small><a href="{{ url_for('main.comment', id=post.id) }}">{{ _("Read More") }}</a></small>
                    {% else %}
                        {{ post.body_html | safe }}
                    {% endif %}
                </span><br> 
            {% else %} 
                <span id='post{{ post.id }}'>
                    {{ post.body }}
                    <small><a href="{{ url_for('main.comment', id=post.id) }}">{{ _("Read More") }}</a></small>
                </span>
            {% endif %}
            <div style="text-align: right;">
                {% if post.author == current_user %}
                <form method="post" action="{{ url_for('main.delete_post', id=post.id) }}" style="display: inline;">
                    {{ form.hidden_tag() }}
                    <input class="btn" type='submit' name="delete" value="{{ _('Delete') }}" onclick="return confirm('Are you sure?')">
                </form>
                {% endif %}
                <i class="glyphicon glyphicon-thumbs-up" style="padding: 0em 0.5em;"></i>
                <i class="glyphicon glyphicon-thumbs-down" style="padding: 0em 0.5em;"></i>
                <a href="{{ url_for('main.edit_post', id=post.id) }}" style="padding: 0em 0.25em;">{{ _('Edit') }}</a>
                <a href="{{ url_for('main.comment', id=post.id) }}" style="padding: 0em 0.25em;">{{ _('%(total)d comments', total=post.comments.count()) }}</a>
            </div>
        </td>
        {% if post.language and post.language != g.locale %} 
        <br><br>
        <span id="translation{{ post.id }}">
            <a href="javascript:translate(
                            '#post{{ post.id }}',
                            '#translation{{ post.id }}',
                            '{{ post.language }}',
                            '{{ g.locale }}');">{{ _('Translate') }}</a>
        </span>
        {% endif %}
    </tr>
</table>